<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
    <link rel="stylesheet" href="/css/edit.css">
</head>
<body>
    <div class="main-container">
        <div class="main-container">
            <% if (errorMessage) { %>
                <div class="user-message user-message--error">
                    <%= errorMessage %>
                </div>
            <% } %>
            <div class="user-details__wrapper">
                <h1 class="title">EDIT USER</h1>
                <div class="user-details">
                    <form action="/user/update" method="POST">
                        <span class="user-details__item">
                            <label for="firstName">First Name</label>
                            <input type="text" id="firstName" name="firstName" placeholder="First Name" value="<%= user.firstName %>">
                        </span>
                        <span class="user-details__item">
                            <label for="lastName">Last Name</label>
                            <input type="text" id="lastName" name="lastName" placeholder="Last name" value="<%= user.lastName %>">
                        </span>
                        <span class="user-details__item">
                            <label for="email">Email</label>
                            <input type="email" id="email" name="email" placeholder="Email" value="<%= user.email %>">
                        </span>
                        <button type="submit">SAVE</button>
                    </form>
                    <div class="user-profile">
                        <form action="/user/profile" method="GET">
                            <button type="submit">USER PROFILE</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>